# dependencies
node_modules/

# Next.js build output
.next/
out/

# Turborepo cache
.turbo/

# TypeScript build information
*.tsbuildinfo

# test output
coverage/
playwright-report/
test-results/
blob-report/

# local environment files
.env*
